

* {
    box-sizing: border-box;
}

body{
  background-color:#98acf8;
  font-family: sans-serif;
  margin:0;
  display:flex;
  align-items: center;
  justify-content:center;
  min-height:100vh;
}
h1{
  text-align: center;
  margin:0;
  padding:2rem;

}
.quiz-container{
 background-color: white;
  box-shadow:0 0 10px 10px rgba(0,0,0,0.20);
  width: 600px;
  border-radius:10px;
  max-height: 100vh;
  align-items: center;
  overflow: hidden;

}

.quiz-header{
  padding:2rem;
}
ul li{
  cursor:pointer;
  margin: 0 1rem;
  font-size: 1.1rem;
  list-style:none;
  padding-top: 1rem;
}
ul{
  cursor:pointer;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
   padding:0.5rem;
}
h2{
  text-align: center;
  margin:0;
  padding:1rem;
}


small{
    display: block;
    position: relative;
    visibility: hidden;
    text-align:center;
    color: red;
    margin-bottom: 1rem;
    font-weight: bold;
    padding-bottom: 3px;
}
